body {
	font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.transparentlogo {
	max-width: 60%;
}

a.btn.btn-primary {
  padding: 13px;
}

.btn-primary {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 50px;
  text-align: center;
  font-size: 1em;
}

footer, small {
  color: black;
  padding: 30px;
  page-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

a.matthewspelman.url, a.fa.fa-instagram.fa-lg, a.fa.fa-twitter.fa-lg {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
}

@media handheld, only screen and (max-width: 767px) {

body {
    text-align: center;
    align-content: center;
    display: block;
    padding: 15px;
  }

}
